* {
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 1em;
  cursor: default;
  font: 400 16px "Source Sans Pro";
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.full-h {
  height: 100vh;
}

.empty {
  margin: auto;
}

div,
nav {
  display: flex;
}
div.solo,
nav.solo {
  justify-content: center;
}
div .cell,
nav .cell {
  flex-direction: column;
}
div .cell.centerX,
nav .cell.centerX {
  align-items: center;
}

nav {
  height: 64px;
  gap: 2em;
}
nav#contact {
  margin-top: 3em;
}

h1 {
  font-size: 5em;
  letter-spacing: -0.025em;
  margin-bottom: 0.5vw;
}

p {
  font-size: 1.5em;
  letter-spacing: 0.025em;
}
p.sub {
  opacity: 0.75;
}

a {
  color: var(--text-link);
}

a,
img {
  height: inherit;
}