div,
nav {
  display: flex;
  flex-wrap: wrap;
}
div.column,
nav.column {
  flex-direction: column;
}

nav.icons {
  align-items: center;
  height: 48px;
  gap: 2.5em;
}
nav.icons#contacts {
  justify-content: center;
  margin-top: 3em;
}
nav.icons#credits {
  justify-content: flex-end;
}

section#main-content {
  align-self: center;
  text-align: center;
}
section#footer {
  margin-bottom: 0.5em;
}

.full-h {
  height: 100vh;
}

.empty {
  margin: auto;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0 1em;
  cursor: default;
  font: 400 16px "Source Sans Pro";
  background-color: var(--background-primary);
  color: var(--text-primary);
}

h1 {
  font: 900 5em "Source Sans Pro";
  letter-spacing: -0.025em;
  margin-top: 0.5vw;
}

p {
  font: 1.5em "Source Sans Pro";
  letter-spacing: 0.025em;
}
p.sub {
  opacity: 0.75;
}

a {
  color: var(--text-link);
}

a,
img {
  height: inherit;
}