.light {
  --text-primary: #1E1E1E;
  --text-inactive: #383838;
  --text-link: #00B0F0;
  --text-invert: #F4F4F4;
  --background-primary: #F4F4F4;
  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(0, 0, 0, 0.25);
  color-scheme: light;
}

.dark {
  --text-primary: #F4F4F4;
  --text-inactive: #dbdbdb;
  --text-link: #00B0F0;
  --text-invert: #1E1E1E;
  --background-primary: #1E1E1E;
  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(255, 255, 255, 0.25);
  color-scheme: dark;
}

@media (prefers-color-scheme: light) {
  :root:not(.light):not(.dark) {
    --text-primary: #1E1E1E;
    --text-inactive: #383838;
    --text-link: #00B0F0;
    --text-invert: #F4F4F4;
    --background-primary: #F4F4F4;
    --scrollbar-bg: transparent;
    --scrollbar-color: rgba(0, 0, 0, 0.25);
    color-scheme: light;
  }
}
@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    --text-primary: #F4F4F4;
    --text-inactive: #dbdbdb;
    --text-link: #00B0F0;
    --text-invert: #1E1E1E;
    --background-primary: #1E1E1E;
    --scrollbar-bg: transparent;
    --scrollbar-color: rgba(255, 255, 255, 0.25);
    color-scheme: dark;
  }
}